* {
  box-sizing: border-box;
}

body {
  padding: calc(5vw);
  margin: 0;

  background-color: #30302c;
  color: #f1efde;
}
.patience-quiz {
  display: grid;
  justify-content: center;
  grid-template-columns: var(--prop-of-grid);
  grid-template-rows: var(--prop-of-grid);
  grid-gap: var(--grid-gap-px);
  background-color: red;
}

.patience-quiz__cell {
  background-color: aqua;
  border-radius: 20%;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.patience-quiz__cell_active {
  background-color: yellow;
}
